<!--footer -->
<div class="row">
	<!--div class="small-12  medium-12 large-12 columns"> -->
		<div id="footer-wrapper">
			<footer>
				<div id="footer">
					<div id="copyright-left"><p>&#169 2015 Christopher Lee Bagi, All Rights Reserved</p></div>
					<div id="social">
						<div >
							<ul>
								<div id="copyright-right">
									<a href="https://www.facebook.com/chrisbagi">
										<%= image_tag "FB-f-Logo__white_50.png" %>
									</a>					
									<a href="https://www.youtube.com/channel/UCwZtlP9eRJeMuDnRbNlJPsw">
										<%= image_tag("YouTube-social-square_dark_48px.png", size: "50x50") %>
									</a>											
									<a href="https://plus.google.com/101747577652499322231/posts">
										<%= image_tag("g+48.png", size: "50x50") %>
									</a>
									<a href="https://twitter.com/chris_bagi">
										<img title="Twitter" alt="Twitter" src="https://g.twimg.com/Twitter_logo_white.png" width="35" height="35" />
									</a>	
									<a href="http://ink361.com/app/users/ig-1303309341/chris.bagi/photos">
										<%= image_tag("Glyph_Logo_png.png", size: "50x50") %>
									</a>
									<a href="https://www.linkedin.com/pub/chris-bagi/14/7ab/a84">
										<%= image_tag "In-White-48px-R.png" %>								
									</a>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	<!--</div>-->
</div>

